body {
  background-image: url("https://images.unsplash.com/photo-1614849286521-4c58b2f0ff15?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
.container {
  max-width: 80vw;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 35px;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 10vw;
}
h2,
h3,
h4 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}
h5 {
  font-size: 1.5em;
  line-height: 1.4em;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-style: italic;
}
h6 {
  font-family: "Karla", sans-serif;
  font-size: 1.1em;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
form {
  font-family: "Karla", sans-serif;
}
label {
  text-indent: -16px;
  padding-left: 16px;
}
label h6 {
  margin-left: -16px;
  text-indent: 0px;
}
.intro {
  padding-bottom: 35px;
}
.form-group {
  margin-bottom: 35px;
}
.homeMade {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  border-style: none;
  color: black;
}
.homeMade:hover {
  font-weight: 800;
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
}
.homeMade:active,
.homeMade:focus {
  font-weight: 800;
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
.qText {
  display: block;
}
.langLogo {
  width: 25vw;
  display: block;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}
.results {
  display: none;
  text-align: center;
}
.oops {
  font-family: "Karla", sans-serif;
  display: none;
}
.expAlert {
  max-width: 80%;
  display: none;
  margin-top: 20px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  color: white;
}
.langSumm {
  max-width: 65%;
  margin: auto;
  margin-bottom: 45px;
}
#mainSubHead {
  margin-top: 20px;
  margin-bottom: 20px;
}
#btnAgain {
  margin: auto;
}
#reTake {
  text-align: center;
  display: none;
}
#resGo,
#resJS,
#resCs {
  display: none;
}
#top-row {
  padding-bottom: 4vw;
}
#mainSubmit {
  display: inline;
}
